<!DOCTYPE html>
<html>

<head>
  <title>landing_tabs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
 
  
  
</head>

<body>
  <div id="section">
    
    <ul class='tabs'>
      <li><a href='#tab1'>Présentation</a>
        <li><a href='#tab2'>Menu</a>
          <li><a href='#tab3'>JL</a>
    </ul>
    <div id="tabsC">
      <div id="tab1">
        <h3>Présentation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque dignissimos, sed quibusdam recusandae maiores ipsa quasi, est accusantium in, neque distinctio! Molestiae incidunt esse molestias a voluptatem assumenda laborum.</p>
      </div>
      <div id="tab2">
        <h3>Menu</h3>
        <p>Lorem ipsum dolor sit amet, consectetur . Ex eaque dignissimos, sed quibusdam recusandae maiores ipsa quasi, est accusantium in, neque distinctio! Molestiae incidunt esse molestias a voluptatem assumenda laborum.</p>
      </div>
      <div id="tab3">
        <h3>Justice League</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio! Molestiae incidunt esse molestias a voluptatem assumenda laborum.</p>
      </div>
    </div>
  </div>
</body>



</html>

	<title></title>
</head>
<body>

</body>
</html>