<!DOCTYPE html>
<html>

<head>
  <title>landing_tabs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

  
  
</head>
<h1>Resto trop bien !</h1>
<h2>Miam ici on mange bien.</h2>

<body>
  <div id="section">
    
    <ul class='tabs'>
      <li><a href='#tab1'>Présentation</a>
        <li><a href='#tab2'>Menu</a>
          <li><a href='#tab3'>JL</a>
    </ul>
    <div id="tabsC">
      <div id="tab1">
        <h3>Présentation</h3>
        <p>Le restaurant galactique est un restaurant traditionnel situé au coeur de l'univers . Dépaysant, il est réputé pour sa magnifique salle ouverte tout l’été : à la clé, une cuisine estivale, composée de salades rafraîchissantes et de grillades savoureuses. L’hiver, le restaurant galactique revêt un tout autre visage et se mue en un élégant astéroïde où il est bon de se blottir au coin de la cheminée tout en dégustant une cuisine traditionnelle.</p>
      </div>
      <div id="tab2">
        <h3>Menu</h3>
        <h4>LES ENTRÉES</h4>
        <p>. patate
        .patate </p>
      </div>
      <div id="tab3">
        <h3>Justice League</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio! Molestiae incidunt esse molestias a voluptatem assumenda laborum.</p>
      </div>
    </div>
  </div>
</body>



</html>

	<title></title>
</head>
<body>

</body>
</html>