


body {
    background: #eee;
    text-align: center;
    font-family: 'arial';

}

h2{
    margin-top: 40px;
    font-size: 20px;


}

#section {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.tabs {
    margin-top: 40px;
    padding: 0;
    margin-bottom: 8px;
}


.tabs li {
    display: inline-block;
    
    margin: 0;
}

a { text-decoration: none;
    color: black;
    margin-right: 10px;
    background: #eee;
    
}

.stylecss {
    background: white;
    padding: 10px;
    margin: 0;
}

#tabsC {
    background: white;
    padding: 20px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
