


body {
    background-image: url(https://image.noelshack.com/fichiers/2017/47/4/1511467532-galaxy.jpg);
    text-align: center;
    font-family: 'arial';

}

h2{
    margin-top: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px red;

}

h1{
    color: white;
    text-shadow: 2px 2px red;
}


h5{
    font-size: 30px;
    color: white;
}

h6{
    font-size: 20px;
    color: red;
}

#section {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

}

.tabs {
    margin-top: 40px;
    padding: 0;
    margin-bottom: 8px;

}


.tabs li {
    display: inline-block;
    
    margin: 0;
}

a { text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: bold;
    
    
    
}

.stylecss {
    background: white;
    padding: 10px;
    margin: 0;
    color: black;
    border-radius: 8px 8px 8px;
    box-shadow: 3px 3px 3px black, 6px 6px 6px black;
}

#tabsC {
    background: white;
    padding: 20px 10px;
    box-shadow: 6px 6px 6px black, 6px 6px 6px black;
    border-radius: 8px 8px 8px;

}
